:root {
  /*Primary colors*/
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /*Neutral colors*/
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /*Fonts*/
  --font1: "Fraunces", serif;
  --font2: "Barlow", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font2);
}

.container {
  padding: 80px 0;
  width: 90%;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
}

.nav {
  padding: 30px 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}

.nav_links {
  display: none;
}

.hero_main {
  height: 450px;
  color: var(--white);
  text-align: center;
}

.hero_title {
  font-size: 2.5rem;
  font-family: var(--font1);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1rem;
}

/*Services*/
.services {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 250px 400px);
}

.services_image {
  background-image: url("../images/mobile/image-transform.jpg");
  background-size: cover;
  background-position: center;
}

.services_texts {
  padding: 1rem 1.5rem;
  place-self: center;
  text-align: center;
  --color: hsla(51, 100%, 49%, 0.3);
}

.services_title {
  font-size: 2rem;
  font-family: var(--font1);
  color: var(--very-dark-desaturated-blue);
}

.services_paragraph {
  line-height: 1.5;
  color: var(--very-dark-grayish-blue);
  margin: 1.5rem;
}

.services_cta {
  color: var(--very-dark-desaturated-blue);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font1);
  position: relative;
}

.services_cta::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  border-radius: 2rem;
  z-index: -1;
  background-color: var(--color);
}

.services_image--2 {
  background-image: url("../images/mobile/image-stand-out.jpg");
}

.services_texts--2 {
  --color: hsla(7, 99%, 70%, 0.3);
}

/*Jobs*/

.jobs {
  display: grid;
  grid-auto-rows: 500px;
}

.jobs_section {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-position: center;
  background-size: cover;
  padding: 2.5rem 1.5rem;
  display: grid;
  align-content: end;
  text-align: center;
  color: var(--dark-desaturated-cyan);
}

.jobs_section--2 {
  background-image: url("../images/mobile/image-photography.jpg");
  color: var(--dark-blue);
}

.jobs_name {
  font-family: var(--font1);
  font-size: 1.7rem;
}

.jobs_paragraph {
  line-height: 1.5;
  margin-top: 1rem;
}

/*Testimonials*/

.testimonials {
  text-align: center;
}

.testimonials_title {
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  font-family: var(--font1);
}

.testimonials_container {
  padding: 60px 0;
  display: grid;
  gap: 6rem;
}

.testimonials_img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials_paragraph {
  color: var(--dark-blue);
  line-height: 1.5;
  margin: 1.5rem;
}

.testimonials_name {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--font1);
  margin-bottom: 0.7rem;
}

.testimonials_job {
  color: var(--grayish-blue);
}

/*Gallery*/
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery_image {
  width: 100%;
  aspect-ratio: 1/1;
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  background-size: cover;
  background-position: center;
}

.gallery_image:nth-last-of-type(2) {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
}

.gallery_image:nth-last-of-type(3) {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
}

.gallery_image:nth-last-of-type(4) {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}

/*Footer*/
.footer {
  background-color: #90d4c5;
  text-align: center;
}

.footer_logo {
  width: 200px;
}

.footer_nav {
  width: 90%;
  max-width: 400px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.footer_link {
  color: var(--dark-moderate-cyan);
  text-decoration: none;
  padding: 1.5rem 0 3rem;
}

.footer_social {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/*When min-width is 768px*/
@media (min-width: 768px) {
  .hero {
    background-image: url('../images/desktop/image-header.jpg');
  }

  .nav_hamburguer {
    display: none;
  }

  .nav_links {
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    align-items: center;
  }

  .nav_link {
    text-decoration: none;
    color: var(--white);
  }

  .nav_link--cta {
    color: var(--dark-blue);
    background-color: var(--white);
    padding: .7em 1.5em;
    border-radius: 2em;
    font-family: var(--font1);
  }
}
